<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Trang chủ</title>
    <style>
        .table-container {
            margin-top: 50px;
            padding: 15px 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        .title {
            font-size: 20px;
            font-weight: 600;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #ccc;
        }
    </style>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create new user</a>
    </div>

    <div class="table-container">
        <%= JSON.stringify(listUsers) %>
            <div class="title">List users</div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>G-mail</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>Peter</td>
                    <td>Griffin</td>
                    <td>$100</td>
                    <td>$100</td>
                    <td>
                        <Button>Edit</Button>
                        <Button>Delete</Button>
                    </td>

                </tr>
            </table>
    </div>
</body>

</html>